

<%- include("partials/header"); -%>

<h1>Home</h1>
<p> <%= homeStartingContent %> </p>





<% allPosts.forEach(function(post) { %>

    <h2> <%= post.title %> </h2>
    <p>
        <%= post.content.substring(0, 100) + "..." %> 
        <a href="/test1/<%= post.title %>">Read More...</a> 
    </p>
   

<% }); %>


<%- include("partials/footer"); -%>